.current {
  color: #044687;
  }

  @font-face {
    font-family: GaramondPro;
    src: url(/assets/fonts/GaramondPremrPro.otf);
    font-weight:400;
}

  body {
    /*background-color: #fdf5df;*/
    background-color: #e8eae3;
    font-family: Baskerville, GaramondPro, Verdana, Lucida Grande, Arial, sans-serif;
    width: 100% !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
}
.header-links {
  display: flex;
  padding-left: 80px;
  height: 55px;
  width: 100% !important;
  margin-top: 0 !important; 
  align-items: center;
  background-image: linear-gradient(#538ba9,#044687 70%,#022a50);
  background-repeat: no-repeat;
  border-bottom: 1px solid #022241;
  filter: none;
}
.sub-header-link {
  /*border: 2px solid lightgrey;*/
  margin: 10px 30px;
  width: fit-content;
}

.name{
  color: #DBE2E9;
  float: left;

  font-size: 22px;
  line-height: 20px;
}

.page-title {
  font-size: 18px;
  line-height: 26px;
  line-height: 1.625rem;
  color: white;
  font-weight: 100;
  background-color: #eeb111;
  -moz-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
  display: inline-block;
  position: relative;
  margin: 0 -30px;
  padding: 0 30px;
  background: #eeb111;
}

a {
  color: #DBE2E9;
  text-decoration: none;
}
h3{
  color: #044687;
  font-size: 18px;
  font-family: Baskerville, GaramondPro, Verdana, Lucida Grande, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 1.0px;
  width: auto;
  margin-top: 0px;
  margin-bottom: 1.5px;
  text-align: center;
}

.verbose{
  color: #333;
  font-size: 18px;
  font-family: Baskerville, GaramondPro, Verdana, Lucida Grande, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  width: 36vw;
}

.navigation{
  display: flex;
  flex-flow: row wrap;
  padding-left: 100px;
  /*justify-content: space-around;*/
}
.sub-navigation {
  /*border: 2px solid lightgrey;*/
  margin: 10px 10px;
  width: fit-content;
}
.heading {
  font-family: Baskerville, GaramondPro, Verdana, Lucida Grande, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.0;
  font-size: 18px;
  color: #044687;
  max-height: auto;
  width: 40vw;
  max-width: 200vw;
  align-items: center;
  padding-top: 20pt;
  padding-bottom: 20pt;
  padding-right: 30px;
  border-bottom: 1.0px solid gray;
}
.sub-heading{
  color: gray;
  font-size: 18px;
  font-family: Baskerville, GaramondPro, Verdana, Lucida Grande, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  width: auto;
  margin-top: 30px;
  margin-bottom: 1.0px;
  justify-content: left;
}
.pos-navigation{
  position: relative;
  min-height: 1px;
  float: left;
  display: flex;
  flex-direction: row;
}
.col{
  position: relative;
  min-height: 1px;
  padding-left: 110px;
  float: left;
  display: flex;
  flex-direction: column;
}
.col-2 {
  display: flex;
  flex-direction: row;
}
.col-3 {
  width: 18vw;
  height: 18vw;
  display: block;
}
.img-block {
  float: left;
  max-width:inherit;
  height: inherit;
  max-width: inherit;
  display: block;
  padding-left: 30px;
}
tr.spaceUnder>td {
  padding-bottom: 1em;
}