@font-face {
    font-family: GaramondPro;
    src: url(assets/GaramondPremrPro.otf);
    font-weight:400;
}

body {
    /*background-color: #fdf5df;*/
    background-color: #e8eae3;
}

h1{
    color: #333;
    font-size: 38px;
    font-family: GaramondPro;
    font-weight: normal;
    letter-spacing: 2px;
    width: auto;
    margin-top: 30px;
    margin-bottom: 1.5px;
    text-align: center;
}
.sub-header-link {
  /*border: 2px solid lightgrey;*/
  margin: 10px 30px;
  width: fit-content;
}

.sub-header-link a {
    color: #777;
}
.header-links {
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    max-height: 50px;
    min-width: 60vw;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.mono_link {
    font-family: monospace, monospace;
}